[submodule "lib/tensorflow"]
	path = lib/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
[submodule "lib/opencv"]
	path = lib/opencv
	url = git@github.com:opencv/opencv.git
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
