[submodule "lib/tensorflow"]
	path = lib/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
[submodule "lib/opencv"]
	path = lib/opencv
	url = git@github.com:opencv/opencv.git
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
[submodule "lib/libhttpserver"]
	path = lib/libhttpserver
	url = git@github.com:SebastiaanDenHertog/libhttpserver.git
[submodule "lib/kaldi"]
	path = lib/kaldi
	url = git@github.com:kaldi-asr/kaldi.git
[submodule "lib/llama.cpp"]
	path = lib/llama.cpp
	url = git@github.com:ggerganov/llama.cpp.git
[submodule "lib/whisper.cpp"]
	path = lib/whisper.cpp
	url = git@github.com:ggerganov/whisper.cpp.git
