[Unit]
Description=Jarvis server service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/server
StandardOutput=append:/var/log/jarvis/server.log
StandardError=append:/var/log/jarvis/server_error.log
# Optionally set working directory, environment variables, etc.
# WorkingDirectory=/var/myserver
# Environment=MY_ENV_VAR=some_value
LimitCORE=infinity
KillSignal=SIGABRT
Restart=on-failure

[Install]
WantedBy=multi-user.target