body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Arial', sans-serif;
    color: #00e5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 80%;
    max-width: 1200px;
}

.data-section {
    margin-top: 20px;
}

.data-section h2 {
    margin: 0;
    border-bottom: 1px solid #00e5ff;
    padding-bottom: 5px;
}

.data-section p,
.data-section ul {
    margin: 10px 0 0 0;
}

.data-section ul {
    padding-left: 20px;
}

.data-section ul li {
    margin-bottom: 5px;
}